body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
}

.header {
    text-align: center;
    padding: 20px;
    background-color: black;
    color: white;
    margin-bottom: 20px;
}

#logo {
    width: 200px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.calculator {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    width: 350px;
    margin: 40px auto;
    background-color: #333;
}

.variables, .result {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px 0;
    background-color: #444;
}

label {
    display: block;
    margin: 20px 0;
}

input[type="text"], select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    background-color: white;
    color: black;
}

input[type="checkbox"] {
    margin-right: 5px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    margin-top: 10px;
}

#calculate {
    background-color: #4CAF50; /* Green */
    color: white;
}

#clear {
    background-color: #f44336; /* Red */
    color: white;
}

button:hover {
    opacity: 0.8;
}

.result {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    border: 1px solid #555;
}

#result {
    font-size: 20px;
    margin-top: 10px;
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.checkbox-reference {
    margin-left: 5px;
}

.header h1 a {
    color: white;
    text-decoration: none;
}

.header h1 a:hover {
    text-decoration: underline;
}


/* Ensures spacing is applied around all children within #mtbfAutoOptions */
#mtbfAutoOptions > * {
    margin-bottom: 20px; /* This should already apply adequate spacing */
}

/* Additional targeting to ensure spacing around the dropdown specifically */
#deviceTypeContainer {
    margin-bottom: 20px !important; /* Force spacing */
}

#redundantPowerSupply {
    margin-top: 20px !important; /* Ensure there's space from the preceding element */
}


#numLocations,
#numLocationsInput {
    width: 100%;
    margin-top: 10px;
}

#numLocations {
    -webkit-appearance: none;
    appearance: none;
    height: 15px;
    background: #ddd;
    outline: none;
}

#numLocations::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

#numLocations::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

#numLocationsInput {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input:disabled {
    background-color: #666;
    color: #CCC;
}

#downloadResults {
    padding: 10px 20px;
    background-color: #4CAF50; /* Green */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

#downloadResults:hover {
    background-color: #45a049;
}
#projectName {
    width: 50%; /* Takes up 50% of its parent container */
}
